body {
    line-height: 1.2;
}

label,select {
    margin-right: 5px;
}

.errorMessage {
    color: red;
}

#antall {
    width: 32px;
}

#personalia input {
    width: 160px;
}
/*
#billettListe th{
    min-width: 80px;
    text-align: left;
}

#billettListe th, td {
    margin-left: 5px;
    padding-right: 20px;
    max-width: 150px;
}

#billettListe {
    margin-bottom: 10px;
}
 */